.paginationBtn {
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.paginationBtn a {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 8px;
  border: none;
  color: #be9329 !important;
  cursor: pointer;
  text-decoration: none;
}

.paginationBtn a:hover {
  border-radius: 5px;
  margin: 8px;
  border: 1px solid #be9329;
}

.paginationActive a {
  border-radius: 5px;
  margin: 8px;
  border: 1px solid #be9329;
}

.paginationDisabled a {
  display: none;
}
