.warranty-check-item .wci-info-header,
.warranty-check-item .wci-detail-header {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.568);
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

.warranty-check-item .wci-name,
.warranty-check-item .wci-phone,
.warranty-check-item .wci-email,
.warranty-check-item .wci-address,
.warranty-check-item .wci-bill {
  color: black;
}

.warranty-check-item .wci-warranty-list-detail {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.566);
}
