.full-page-wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: #007bff;
}

.page-body-wrapper {
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.25s ease;
  width: 100vw;
}
.error-page {
  padding: 1.875rem 1.75rem;
  width: 400px;
  flex-grow: 1;
}

.content-wrapper {
  background: #000000;
  padding: 1.875rem 1.75rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.error-page h1 {
  font-size: 12rem;
}
