.wci-product-choose {
  padding-left: 1rem;
  padding-right: 1rem;
}

.wci-product-choose .wci-category,
.wci-product-choose .wci-pursuit {
  max-height: 150px;
  overflow-y: scroll;
}

.wci-header {
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.537);
  margin-bottom: 1rem;
}

.wci-product-choose .c-choosed {
  color: rgb(255, 77, 33);
}

.wci-choose-item {
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.537);
  padding: 3px;
  transition: 0.2s;
}

.wci-choose-item:hover {
  color: rgb(255, 77, 33);
}

.warranty-receive-button-container {
  display: flex;
  justify-content: end;
}

.warranty-receive-button {
  font-size: 0.9em;
  font-weight: 500;
  border: 1px solid rgb(255, 77, 33);
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: rgb(255, 77, 33);
  cursor: pointer;
  transition: 0.2s;
}

.warranty-receive-button:hover {
  color: #fff;
  background-color: rgb(255, 77, 33);
}

.warranty-receive-button-container > .disable {
  border: 1px solid rgba(0, 0, 0, 0.47);
  color: rgba(0, 0, 0, 0.47);
  cursor: not-allowed;
}

.warranty-receive-button-container > .disable:hover {
  border: 1px solid rgba(0, 0, 0, 0.47);
  color: rgba(0, 0, 0, 0.47);
  background-color: transparent;
}
