/* .container-fluid {
  background-color: rgb(242, 242, 242);
  font-family: 'Itim', cursive;
  height: 100vh;
} */

.admin-container {
  position: relative;
  height: 95%;
  width: 100%;
  /* padding: 1rem; */
  /* overflow: hidden; */
  background-color: rgb(255, 255, 255);
  /* border-radius: 20px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.logo {
  margin: auto;
  width: 100%;
  cursor: pointer;
}

.logo-content {
  font-weight: 400;
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 10px;
}

.logo-content:hover {
  color: #ffffff;
  text-decoration: none;
}

.side-bar {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #343a40 !important;
  /* border-radius: 20px; */
  overflow: hidden;
}

.side-menu {
  height: 85%;
  width: 100%;
  padding-right: 20px;
}

.menu-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: rgb(46, 46, 46);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 50px;
  color: #8f969d !important;
  font-size: 1.1em;
  padding: 1.5rem;
  transition: 0.3s;
}

.link:hover {
  color: #ffffff !important;
}

.link .menu-item .fa-box-open,
.link .menu-item .fa-truck-loading,
.link .menu-item .fa-file-invoice,
.link .menu-item .fa-store,
.link .menu-item .fa-ticket-alt,
.link .menu-item .fa-tools,
.link .menu-item .fa-chart-line,
.link .menu-item .fa-truck-couch {
  height: 20px;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border-left: 5px solid #ee4d2d;
  background-color: rgb(46, 46, 46);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.active > .menu-item {
  color: #ffffff;
}

.main-content {
  position: relative;
  height: 100%;
}

.top-nav {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 75px;
  background-color: #343a40;
  /* border-radius: 20px; */
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 9;
}

.content-container {
  height: 88%;
  /* margin-top: 1.5rem; */
}

.content {
  height: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
}

.login-box {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.avatar {
  margin-right: 0.75rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.dropbox {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.dropdown-menu {
  left: auto !important;
  right: 0px !important;
  transform: translate3d(0px, 50px, 0px) !important;
  background-color: #343a40;
  transition: 0.1s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dropdown-header {
  color: #b4b4b4 !important;
}

.dropdown-item {
  cursor: pointer;
  color: #ffffff !important;
  transition: 0.3s;
}

.dropdown-item:hover {
  background-color: #202428;
}

.admin-content-wrapper {
  /* border-radius: 20px; */
  overflow: hidden;
  /* background-color: #ee4d2d; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
