.warehousing-nav-container {
  padding: 0.5rem 1rem 0rem 1rem !important;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.115);
}

.warehousing-nav-item {
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 500;
}

.warehousing-nav-item:hover {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.warehousing-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.371);
  width: 100%;
  height: 500px;
  cursor: pointer;
}

.warehousing-empty > .fa-box-open {
  font-size: 5em;
  margin-bottom: 2rem;
}
