.slick-slider:hover .slick-next,
.slick-slider:hover .slick-prev {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(190, 147, 41);
  background-color: transparent;
}

.slick-prev,
.slick-next {
  color: rgb(190, 147, 41);
  background-color: transparent;
}

.slick-next {
  right: 20px !important;
  opacity: 0;
  transition: 0.3s;
}

.slick-prev {
  left: 20px !important;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}

.nav-link:focus {
  color: rgb(190, 147, 41);
}
