.w-product-container {
  padding: 0.75rem;
}

.w-product-header {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  padding: 1rem;
}

.w-product-detail-container {
  /* width: 60%; */
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.wp-detail {
  padding-top: 3rem;
}

.wp-brand {
  border: 1px solid rgb(255, 77, 33);
  width: fit-content;
  padding: 3px 20px 3px 20px;
  color: rgb(255, 77, 33);
  font-weight: 500;
  letter-spacing: 1px;
}

.wp-name {
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.wp-price {
  margin-top: 0.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.663);
}

.wp-describe {
  margin-top: 0.75rem;
}

.wp-type {
  margin-top: 0.5rem;
}

.wp-button {
  background-color: rgb(255, 77, 33);
  color: #fff;
  margin-top: 1rem;
  padding: 5px 1rem 5px 1rem;
  transition: 0.2s;
}

.wp-button:hover {
  background-color: rgb(243, 74, 31);
  color: #fff;
}

.wp-button-cancel {
  margin-top: 1rem;
  padding: 5px 1rem 5px 1rem;
}

.wp-input-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  width: 450px;
}

.wp-input-wrapper > input,
.wp-input-wrapper > textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
}

.wp-input-wrapper > textarea {
  min-height: 100px;
}

.wp-type-select {
  width: 100%;
  border: none;
  outline: none;
}

.wp-image-wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  height: 30px;
  width: 90px;
  border: 2px solid rgba(255, 77, 33, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.wp-image-wrapper:hover {
  border: 2px solid rgb(255, 77, 33);
}

.wp-image-wrapper::before {
  color: rgba(255, 77, 33, 1);
  position: absolute;
  top: 0;
  left: 0;
  content: 'Chọn ảnh';
  width: 100%;
  height: 100%;
  text-align: center;
}

/* 
.wp-image-wrapper:hover > .fa-plus {
  color: rgb(255, 77, 33);
}

.wp-image-wrapper > .fa-plus {
  font-size: 1.2em;
  color: rgba(255, 77, 33, 0.5);
  transition: 0.2s;
} */

.wp-chooser-container > .image-input {
  display: none;
}

/*  */
/*  */
/*  */
/* chart */
.product-detail-chart-container {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.pdc-header {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.637);
  letter-spacing: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.214);
}
