/* export-list */
/*  */
/*  */
.whe-header {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  padding: 1rem;
}

.whe-sort-date-container {
  padding: 1.75rem;
  padding-bottom: 1rem;
  padding-left: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.093);
  color: rgba(0, 0, 0, 0.642);
}

.whe-sort-date {
  border: 1px solid rgba(0, 0, 0, 0.182);
  border-radius: 5px;
  padding: 5px;
}

.whe-sort-input {
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.736);
}

.whe-sort-date-choosed {
  border: 1px solid rgb(255, 77, 33);
  border-radius: 5px;
  margin-left: 1rem;
  padding: 3px 10px 3px 10px;
  color: rgba(0, 0, 0, 0.73);
  font-size: 0.9em;
  cursor: pointer;
}

.whe-sort-date-choosed > .fa-times {
  color: rgb(255, 77, 33);
  margin-left: 5px;
}

.warehouse-export-container {
  padding: 2rem;
  padding-top: 1rem;
}

.whe-date {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.588);
}

.whe-list-container {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.whe-list-item {
  cursor: pointer;
  transition: 0.2s;
}

.whe-list-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.whe-product-info {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.786);
}

.whe-button {
  padding: 3px 2rem 3px 2rem;
  margin-top: 5px;
  background-color: rgb(255, 77, 33);
  color: #fff;
}

.whe-button:hover {
  color: #fff;
  background-color: rgb(240, 65, 21);
}
