.preparing-container {
  padding: 2rem 0 0rem 0;
  margin-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}

.invoice-detail {
  position: relative;
}

.invoice-detail .id-code {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.593);
}

.preparing-exit {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.preparing-exit:hover {
  background-color: rgb(207, 0, 0);
}

.preparing-dropdown {
  position: relative;
}

.preparing-btn {
  width: 100%;
  background-color: #343a40;
  color: #fff;
  outline: none;
}

.preparing-btn:hover {
  color: #fff;
}

.preparing-menu {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  overflow: hidden;
}

.preparing-menu .employee {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #343a40 !important;
}

.preparing-menu .employee .busy {
  background-color: red;
}

.preparing-menu .employee:hover {
  background-color: #fff;
  transform: translateX(10px);
}

.preparing-employee .employee-choosed-container {
  margin-top: 5px;
}

.preparing-employee .employee-choosed {
  background-color: rgba(32, 193, 32, 0.8);
  padding: 0.3rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.prepare-submit {
  width: 30%;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;
  background-color: rgba(32, 193, 32, 0.8);
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
